In [316]:
user_name ="侍花子"

def show_user_name():
  user_name ="侍太郎"

  print(user_name)

show_user_name()

print (user_name)

侍太郎
侍花子

In [328]:
price1 = 100
price2 = 200

def total():
  tax = 1.1
  return (price1 + price2) * tax

print (total())

330.0

In [330]:
class Product:
  def __init__(self):
    self.name = ""

  def set_name(self, name):
    self.name = name

  def show_name(self):
     print (self.name)

cofee = Product()

cofee.set_name("コーヒー")
cofee.show_name()

コーヒー

In [331]:
class User:

  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender =gender

user = User("侍太郎", 36, "男性")

print (user.name)
print (user.age)
print (user.gender)

侍太郎
36
男性

In [351]:
class Human:
  def __init__(self):
    self.name = ""
    self.age = ""

  def set_name(self,name):
    self.name = name

  def show_name(self):
    print(self.name)

  def set_age(self,age):
    self.age = age

  def show_age(self):
    print(self.age)

human = Human()


human.set_name("田中")
human.set_age("30")
human.show_name()
human.show_age()

田中
30

In [358]:
class Human:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def printinfo(self):
    print(self.name)
    print(self.age)

human = Human("田中", 36)
human.printinfo()

田中
36