In [ ]:
user_name ="侍花子"

def show_user_name():
  user_name ="侍太郎"

  print(user_name)

show_user_name()

print (user_name)

In [ ]:
price1 = 100
price2 = 200

def total():
  tax = 1.1
  return (price1 + price2) * tax

print (total())

In [ ]:
class Product:
  def __init__(self):
    self.name = ""

  def set_name(self, name):
    self.name = name

  def show_name(self):
     print (self.name)

cofee = Product()

cofee.set_name("コーヒー")
cofee.show_name()

In [ ]:
class User:

  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender =gender

user = User("侍太郎", 36, "男性")

print (user.name)
print (user.age)
print (user.gender)

In [ ]:
class Human:
  def __init__(self):
    self.name = ""
    self.age = ""

  def set_name(self,name):
    self.name = name

  def show_name(self):
    print(self.name)

  def set_age(self,age):
    self.age = age

  def show_age(self):
    print(self.age)

human = Human()


human.set_name("田中")
human.set_age("30")
human.show_name()
human.show_age()

In [ ]:
class Human:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def printinfo(self):
    print(self.name)
    print(self.age)

human = Human("田中", 36)
human.printinfo()

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Fri Jan 24 03:30:54 PM JST 2025

In [ ]:
import time
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2025年01月24日15時33分01秒

In [ ]:
time.time()

1737700423.8801267

In [ ]:
import time
print(time.time())

1737700459.7513623

In [6]:
import datetime
date_time = datetime.datetime.strptime ("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")
print(date_time)

print(date_time.year)

2015-03-19 12:15:30
2015

In [8]:
import datetime
now = datetime.datetime.now()
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")
interval = now - date_time
print (f"総日数は{interval.days}日です。")

総日数は3599日です。

In [13]:
import time
now = datetime.datetime.now()
td_1y = datetime.timedelta (days=365)
add = now + td_1y
td_3d = datetime.timedelta(days=3)
sub = now - td_3d
print (add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print (sub.strftime("現在から３日後は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2026年01月24日15時53分03秒です。
現在から３日後は2025年01月21日15時53分03秒です。

In [14]:
age = 10

if age >= 20:
  print ("大人です")

else:
  print ("大人ではない")

大人ではない

In [25]:
ages_dict = {"田中":10, "山田":25, "佐藤":19}

class Human:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def check_adult(self):
    if human.age >= 20:
      print (f"{self.name} {self.age}歳　大人です")

    else:
      print (f"{self.name} {self.age}歳　大人ではない")

humans_list = []

for name, age in ages_dict.items():
  human = Human(name, age)
  humans_list.append(human)

for human in humans_list:
  human.check_adult()

田中 10歳　大人ではない
山田 25歳　大人です
佐藤 19歳　大人ではない