In [ ]:
print(1+2)

3

In [ ]:
age = 18
if age < 20:
    print ("じゅーsで乾杯！")
else:
    print ("お酒で乾杯")

じゅーsで乾杯！

In [ ]:
print ("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
number1 = 5
number2 = 2.5
print (number1 + number2)

user_name = "侍太郎"
print (user_name)

user_name = "侍花子"
print (user_name)

7.5
侍太郎
侍花子

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print (f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
upper = 10
lower = 20
hight = 5

area = (upper + lower) * hight / 2
print (f"{area}cm²")

75.0cm²

In [ ]:
upper = 10
lower = 20
hight = 5

print (f"{(upper + lower) * hight / 2}cm²")

75.0cm²

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎" ]
print (user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print (user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎" ]

for user_name in user_names:
  print (user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
country_names = {"日本", "アアメリカ", "イギリス", "フランス"}
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'アアメリカ', '日本', 'イギリス', 'フランス'}
{'アアメリカ', 'ドイツ', 'イギリス', '日本', 'フランス'}
{'アアメリカ', 'ドイツ', '日本', 'フランス'}

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender":"男性"}

print(personal_data["name"])

print (personal_data)

personal_data["age"] = 37

personal_data["address"] = "東京都"

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金行日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

print(array[2])

dictionary = {"mon":"晴れ", "tue":"雨", "wed":"晴れ", "thu":"晴れ", "fri":"曇り", "sat":"曇りのち雨", "sun":"雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
print (45 + 18)
print (45 > 18)

63
True

In [ ]:
num1 = 5
num2 = "5"

if num1 == int(num2):
     print("num1とnum2は等しいです")

num1とnum2は等しいです

In [ ]:
import random
num = random.randint(0, 4)
print(num)


if 1 < num and num < 3:
     print("変数numは1よりおおきく、3より小さいです")
else:
     print ("and条件がなりたちませんでした")

if num == 1 or num == 3:
     print("変数numは1または3です")
else:
     print("or条件が成り立ちませんでした")

3
and条件がなりたちませんでした
変数numは1または3です

In [ ]:
import random
var = random.randint(0,100)
print (var)

if var % 3 == 0 and var % 5 == 0:
   print ("FizzBuzz")

elif var % 3 == 0:
   print ("FIZZ")

elif var % 5 == 0 and var % 3 != 0 :
   print ("Buzz")

10
Buzz

In [ ]:
for i in range (1,11):
      print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
import random

for i in range (1, 11):
    num = random.randint(1,20)
    print(f"{i}回目の結果は{num}です。")

    if num == 20:
        print ("20が出たので繰り返し処理を強制終了します。")
        break

1回目の結果は14です。
2回目の結果は6です。
3回目の結果は1です。
4回目の結果は19です。
5回目の結果は18です。
6回目の結果は16です。
7回目の結果は4です。
8回目の結果は3です。
9回目の結果は4です。
10回目の結果は12です。

In [ ]:
for i in range (1, 11):
  if i % 2 == 1:
     continue
  print (i)

2
4
6
8
10

In [ ]:
import random
num = random.randint(0, 4)
print (f"最初の値は{num}です。")

while num != 0:
  num = random.randint(0,4)
  print (f"現在の値は{num}です。")

最初の値は1です。
現在の値は2です。
現在の値は4です。
現在の値は4です。
現在の値は0です。

In [ ]:
import random
num = random.randint(0,4)

i = 1

print(f"最初の値は{num}です。")

while num != 0:
  num = random.randint(0,4)
  if i == 5:
    print("5回目なので繰り返し処理を強制終了します。")
    break

  print(f"現在の値は{num}です。")
  i= i + 1

最初の値は4です。
現在の値は4です。
現在の値は4です。
現在の値は2です。
現在の値は4です。
5回目なので繰り返し処理を強制終了します。

In [ ]:
import random
sum =0

while sum < 20:
  num = random.randint (1, 10)
  print (f"{num}がでました。")

  if num % 2 == 0:
    print("偶数委なので加算しません。")
    continue

  sum = sum + num
  print(f"現在の合計は{sum}です。")

4がでました。
偶数委なので加算しません。
1がでました。
現在の合計は1です。
6がでました。
偶数委なので加算しません。
4がでました。
偶数委なので加算しません。
10がでました。
偶数委なので加算しません。
1がでました。
現在の合計は2です。
9がでました。
現在の合計は11です。
2がでました。
偶数委なので加算しません。
8がでました。
偶数委なので加算しません。
2がでました。
偶数委なので加算しません。
10がでました。
偶数委なので加算しません。
8がでました。
偶数委なので加算しません。
4がでました。
偶数委なので加算しません。
2がでました。
偶数委なので加算しません。
6がでました。
偶数委なので加算しません。
7がでました。
現在の合計は18です。
10がでました。
偶数委なので加算しません。
9がでました。
現在の合計は27です。

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender":"男性"}

for key, value in personal_data.items():
  print (f"{key}は{value}です。")

for value in personal_data.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎" ]

for index, value in enumerate (user_names):
  print(f"{index}:{value}")

0:侍太郎
1:侍一郎
2:侍二郎
3:侍三郎
4:侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎" ]

target = "侍二郎"

for user_name in user_names:
  print (user_name)

  if (user_name == target):
    print (f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
    break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語": 80, "数学": 55, "理科": 70, "社会": 85, "英語": 60
}

print("合格した科目は以下のとおりです。")

for key, value in score.items():
  if (value < 70):
    continue
  print(f"{key}:{value}点")

合格した科目は以下のとおりです。
国語:80点
理科:70点
社会:85点

In [ ]:
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

i =1

if i == 1

for array in array:
    print (array)

    i = 1 +1

SyntaxError: expected ':' (<ipython-input-221-7a649491257e>, line 5)

In [ ]:
arrays = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

for array in arrays:
    print (array)

for array in arrays:
    print (array)

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
arrays = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

i = 1

while i < 3:
  for array in arrays:
    print (array)
  i = i +1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥