In [3]:
print(1+2)

3

In [9]:
age = 18
if age < 20:
    print ("じゅーsで乾杯！")
else:
    print ("お酒で乾杯")

じゅーsで乾杯！

In [12]:
print ("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [15]:
number1 = 5
number2 = 2.5
print (number1 + number2)

user_name = "侍太郎"
print (user_name)

user_name = "侍花子"
print (user_name)

7.5
侍太郎
侍花子

In [21]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print (f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [24]:
upper = 10
lower = 20
hight = 5

area = (upper + lower) * hight / 2
print (f"{area}cm²")

75.0cm²

In [25]:
upper = 10
lower = 20
hight = 5

print (f"{(upper + lower) * hight / 2}cm²")

75.0cm²

In [5]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎" ]
print (user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print (user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [8]:
country_names = {"日本", "アアメリカ", "イギリス", "フランス"}
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'アアメリカ', '日本', 'イギリス', 'フランス'}
{'アアメリカ', 'ドイツ', 'イギリス', '日本', 'フランス'}
{'アアメリカ', 'ドイツ', '日本', 'フランス'}

In [20]:
personal_data = {"name": "侍太郎", "age": 36, "gender":"男性"}

print(personal_data["name"])

print (personal_data)

personal_data["age"] = 37

personal_data["address"] = "東京都"

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [29]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金行日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

print(array[2])

dictionary = {"mon":"晴れ", "tue":"雨", "wed":"晴れ", "thu":"晴れ", "fri":"曇り", "sat":"曇りのち雨", "sun":"雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ