In [ ]:
print(1+2)

3

In [ ]:
age = 18
if age < 20:
    print ("じゅーsで乾杯！")
else:
    print ("お酒で乾杯")

じゅーsで乾杯！

In [ ]:
print ("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
number1 = 5
number2 = 2.5
print (number1 + number2)

user_name = "侍太郎"
print (user_name)

user_name = "侍花子"
print (user_name)

7.5
侍太郎
侍花子

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print (f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
upper = 10
lower = 20
hight = 5

area = (upper + lower) * hight / 2
print (f"{area}cm²")

75.0cm²

In [ ]:
upper = 10
lower = 20
hight = 5

print (f"{(upper + lower) * hight / 2}cm²")

75.0cm²

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎" ]
print (user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print (user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = {"日本", "アアメリカ", "イギリス", "フランス"}
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'アアメリカ', '日本', 'イギリス', 'フランス'}
{'アアメリカ', 'ドイツ', 'イギリス', '日本', 'フランス'}
{'アアメリカ', 'ドイツ', '日本', 'フランス'}

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender":"男性"}

print(personal_data["name"])

print (personal_data)

personal_data["age"] = 37

personal_data["address"] = "東京都"

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金行日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

print(array[2])

dictionary = {"mon":"晴れ", "tue":"雨", "wed":"晴れ", "thu":"晴れ", "fri":"曇り", "sat":"曇りのち雨", "sun":"雷雨"}
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
print (45 + 18)
print (45 > 18)

63
True

In [ ]:
num1 = 5
num2 = "5"

if num1 == int(num2):
     print("num1とnum2は等しいです")

num1とnum2は等しいです

In [22]:
import random
num = random.randint(0, 4)
print(num)


if 1 < num and num < 3:
     print("変数numは1よりおおきく、3より小さいです")
else:
     print ("and条件がなりたちませんでした")

if num == 1 or num == 3:
     print("変数numは1または3です")
else:
     print("or条件が成り立ちませんでした")

3
and条件がなりたちませんでした
変数numは1または3です

In [100]:
import random
var = random.randint(0,100)
print (var)

if var % 3 == 0 and var % 5 == 0:
   print ("FizzBuzz")

elif var % 3 == 0:
   print ("FIZZ")

elif var % 5 == 0 and var % 3 != 0 :
   print ("Buzz")

10
Buzz